<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/" class="button">Start</a>
        <h1>Urmareste Comanda</h1>
        <form action="/login" method="post" onsubmit="return validateForm()">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Verifica">
        </form>
        <script>
            function validateForm() {
                var username = document.getElementById("username").value;
                var password = document.getElementById("password").value;
                if (username === "" || password === "") {
                    alert("Toate câmpurile trebuie completate!");
                    return false;
                }
                // Returnează true dacă toate condițiile sunt îndeplinite, ceea ce permite trimiterea formularului
                return true;
            }
        </script>
    </div>
</body>
</html>
