<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .container {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/" class="button">Start</a>
        <h1>Meniu</h1>
        <table>
            <tr>
                <th>Nume produs</th>
                <th>Pret (RON)</th>
                <th>Gramaj (g)</th> <!-- Adăugăm o coloană pentru gramaj -->
            </tr>
            {% for produs in produse %}
            <tr>
                <td>{{ produs[2]}}</td>
                <td>{{ produs[1] }}</td>
                <td>{{ produs[3] }}</td> <!-- Afișăm gramajul produsului -->
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
