<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria Delicioasa</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bun venit la Pizzeria Delicioasa!</h1>
        <p>Alegeți opțiunea dorită:</p>
        <a href="/menu" class="button">Meniu</a>
        <a href="/login" class="button">Comenzi</a>
        <a href="/Ccomanda" class="button">Creare comandă</a>
        <a href="/Ccont" class="button">Creare cont</a>
    </div>
</body>
</html>
